<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>399292246262-prbf9b9hb90ov04ndopcdmfu2e4dhnnn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.399292246262-prbf9b9hb90ov04ndopcdmfu2e4dhnnn</string>
	<key>API_KEY</key>
	<string>AIzaSyBeEbhbzKzxHjANUIF2n1EA9hVwkH-t_K4</string>
	<key>GCM_SENDER_ID</key>
	<string>399292246262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.patreon</string>
	<key>PROJECT_ID</key>
	<string>fir-a8bfd</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-a8bfd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399292246262:ios:2adda712a1585bd96c24d7</string>
</dict>
</plist>